@charset "utf-8";

:root {
    /*custom properties*/
    --blanco: #faf4fa;
    --moradoFondo: #c0a6cc;
    --gris: #423c46;
    /* --gris: #8d8b8b; */
    --moradoClaro: #E797F5;
    --habano: #ebc173;
    --azul: #5799c5;
    --fuentePrincipal: 'Krub';
}

html {
    /* hack para reiniciar el tamaño y poder utilizar los "rem" con facilidad*/
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--moradoFondo) 10%, var(--blanco) 80%);
}

.contenedor {
    /* Centrar el contenido */
    max-width: 110rem;
    margin: 0 auto;
}

.hd-cabecera {
    max-width: auto;
    height: 500px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.principal {
    background-image: url(./media/hero5.jpg);
}

.estudio {
    background-image: url(./media/estudio2.jpg);
}

.proyecto {
    background-image: url(./media/proyecto.jpg);
}

.contacto {
    background-image: url(./media/contacto.jpg);
}

.pasatiempos {
    background-image: url(./media/pasatiempo.jpg);
    background-size: cover;
}

.contenido-cabecera {
    background-color: rgb(0 0 0 /50%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-cabecera .ubicacion {
    display: flex;
    align-items: flex-end;
    font-size: 2rem;
    color: var(--blanco);
}

.hd-cabecera h1 {
    color: var(--blanco);
    font: bold 60px 'Krub';
    margin-top: 110px;
}

.hd-cabecera a {
    text-decoration: none;
}

h3 {
    color: #235a57;
    font: 30px 'Krub';
    align-self: center;
    font-weight: bold;
}

#nav-navegacion {
    list-style: none;
    background: #ac85d1;
    padding: 0px;
    max-width: 90%;
    margin: auto;
    margin-top: 16px;
    border-radius: 8px;
}

#nav-navegacion li a {
    font-style: var(--fuentePrincipal);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #97f1eb;
    padding: 25px;
    display: block;
    border-radius: 30px;
}

#nav-navegacion li {
    display: inline-block;
    text-align: center;
    background-color: #ac85d1;
}

#nav-navegacion li a:hover {
    background: #9670d3;
    color: #25d1c8;
    border-radius: 5px;
}


#section-contenido {
    max-width: 90%;
    margin: auto;
    background-color: var(--blanco);
    min-height: 760px;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 10px;
}

table,
th,
td {
    border: 1px solid #72ece6;
    background-color: var(--gris);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 11px;
}

td {
    font-weight: normal;
    color: rgba(253, 243, 243, 0.705);
}

#titulo-tabla {
    color: #72ece6;
    font-weight: bold;
}

#section-img img {
    margin-left: 25px;
    max-width: 310px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 5px rgba(10, 1, 10, 0.47);
}

#article-1 {
    padding: 15px;
    font-family: 'Krub';
    font-size: 20px;
    color: black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
    max-width: 92%;
}

.inf-contact {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.exp-laboral {
    grid-column: 2/3;
    margin: 0;
}

.img-correo {
    display: flex;
}

.article-1-ind {
    font-weight: bold;
    color: #235a57;
}

#article-2 {
    padding: 30px;
    font-size: large;
    font-weight: bold;
}

#article-3 {
    padding: 30px;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    text-align: center;
    color: #235a57;
    font-weight: bold;
}

.foto {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 50%;
    width: 300px;
    box-shadow: 3px 3px #8f1989;
    transition: all 300ms;

}

.img-pas {
    margin-bottom: 15px;
}

.foto:hover {
    transform: scale(1.11);
}

#article-4 {
    margin-left: 40px;
    padding: 30px;
    font-size: 20px;
    width: 80%;
    /* margin: auto; */
    border-radius: 8px;
    opacity: 0.8;
    color: black;
}

#article-5 {
    background-color: var(--gris);
    padding: 30px;
    font-size: 17px;
    font-weight: bold;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    color: var(--blanco);
    border-radius: 11px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

#li-projects {
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #72ece6;
}

hr {
    max-width: 90%;
}

#footer-redes {
    clear: both;
    margin-top: 40px;
    height: 130px;
    border: 30px;
    margin: auto;
    max-width: 80%;
    text-align: center;
    font-size: 18px;
    padding-top: 7px;
    margin-top: 10px;
    border-radius: 8px;
}

#img-yaz {
    float: left;
}

#footer-redes img {
    float: none;
}

#form-contacto {
    align-items: center;
    width: min(70rem, 100%);
    padding: 15px;
    margin: 0 auto;
    border-radius: 11px;
    grid-row: 2/3;
}

#article-2 p {
    text-align: center;
    font-size: 23px;
    color: black;
}

#article-5 legend {
    font-weight: bold;
    display: grid;
    grid-column: 1/3;
    text-align: center;
    font-size: 2.4rem;
    margin-top: 3rem;
    color: #9f94da;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

#article-5 img {
    max-width: 380px;
    margin-top: 20%;
    grid-column: 2/3;
    padding: rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#form-contacto fieldset {
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--blanco);
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
    font-size: 17px;
}

#btn-input {
    font-weight: bold;
    font-size: 19px;
    border-radius: 11px;
    background: linear-gradient(to right, rgba(64, 118, 189, 1) 0%, rgba(76, 54, 245, 1) 0%,
            rgba(69, 187, 237, 1) 52%, rgba(24, 240, 204, 1) 81%, rgba(39, 230, 166, 1) 100%);
    transition: font-size .3s ease;
    height: 50px;
    max-width: 150px;
}

#btn-input:hover {
    font-size: 21px;
}

#form-contacto input {
    border-radius: 11px;
    border: none;
    margin-bottom: 15px;
    width: 90%;
    margin-top: 5px;
}

#form-contacto textarea {
    border-radius: 11px;
    margin-bottom: 15px;
    width: 90%;
    margin-top: 5px;
}

/* lista */
.titulo-lista {
    font-weight: bold;
    color: #235a57;
}


/* Carrusel */
#section-contenido-Pas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
    border-radius: 8px;
    padding-top: 60px;
    max-width: 90%;
    margin: auto;
}

.carrusel {
    width: 800px;
    height: 650px;
    /* para que no se desborde del contenedor */
    overflow: hidden;
    margin-bottom: 60px;
}

/* .image {
    width: 800px;
    height: 600px;
} */

.images {
    display: flex;
    transform: translateY(0);
    transition: transform 1s ease-in-out;
}

.control {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.btn {
    font-size: 17px;
    font-weight: bold;
    color: var(--blanco);
    border-width: 1px;
    border-color: #8f1989;
    background-color: #b264b4;
    /* especifica el tamaño de la caja(boton) */
    flex-basis: 50%;
    cursor: pointer;
}